.container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
    background-color:aqua;
    font-size:500%;
    color:white;
}
#intro{
    background-color:brown;
}
#like{
    background-color:greenyellow;
}

body{
    margin:0;
}